@import "blog.css";

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

p {
    color:black;
}

.about-me img {
    width: 200px;
}

a:hover {
    color: red;
    text-decoration: dotted;
}

article p {
    text-decoration: dotted;
}
