{% extends "base.html" %}
{% block content %}

<h1>{{ section.title }}</h1>
<p>Browse by <a href="/tag">tags</a>.</p>

{% for year, posts in section.pages | group_by(attribute="year") %}
<ul class="posts-list">
    {% for post in posts %}
    <li class="post">
        <div class="post-header">
            <span class="date">{{ post.date }}</span>
            <h4 class="post-title">
                <a href="{{ post.permalink }}">{{ post.title }}</a>
            </h4>
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}
<ul class="posts-list">
    <li class="post">
        <div class="post-header">
            <span class="date">2021-08-21</span>
            <h4 class="post-title">
                <a href="https://www.vikatan.com/oddities/miscellaneous/my-vikatan-article-about-password">எளிதாக நினைவில் நிற்கும் பாஸ்வேர்டுகளை உருவாக்குவது எப்படி?</a>
            </h4>
        </div>
    </li>
</ul>

{% endblock content %}
