{% extends "base.html" %}
{% block content %}

<div class="about-me">
    <h2>Arun Palaniappan</h2>
    <!-- <img src="assets/arun.png" alt="Arun Palaniappan"> -->
    <p>
        I am Arun. I work as a software engineer at <a href="https://zerodha.com">Zerodha</a>.
        <br><br>
        Once upon a time, I worked on ML + Science space at Deep Forest Science. I worked as a machine
        learning engineer where I built machine learning pipelines for drug discovery + some backend
        and devops work with AWS.
        <br><br>
        Before Deep Forest, I was a project assistant at IIT-Madras for
        about a year working on network security. I graduated with a Masters degree in Data Science
        from PSG College of Technology, Coimbatore in May 2021. I like to read and I
        practice doing nothing during my spare time.
    </p>
    </div>

<h2>Others</h2>
<p>
    <ul>
        <li>Mail: arunppsg AT GoogleEmailService DOT com </li>
        <!-- <li><a href="https://raw.githubusercontent.com/arunppsg/resume/master/pdf/resume.pdf">Resume</a></li> -->
        <li><a href="https://www.github.com/arunppsg">Github</a></li>
				<li><a href="https://www.linkedin.com/in/arunppsg/">Linkedin</a></li>
    </ul>
</p>

<p> Check out what I am doing in the <a href="/now">now</a> page, technical blogs in the <a href="/posts">posts</a> page, musings <a href="/musings">here</a> and book notes - notes from the book which I have read <a href="/book-notes">here</a>.</p>

{% endblock content %}
