<html>

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168258233-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-168258233-1');
	</script>
	<title>essay_title</title>
	<link rel = "stylesheet" type = "text/css" href = "../essay.css" />
</head>

<body>
<section>
	<div class="essay">
        <h1><center>essay_title</center></h1>

		
	</div>
	<div class="authors">
		Written by Arun Thiagarajan, DD-MONTH-YYYY
	</div>
	
</section>
</body>
</html>
